
<div class="full Fleft SecondFooter">
	<div class="wrapper">
		<ul class="Fleft" style="width: 33%">
			<li class="">
				<a href="https://cloud.runabove.com/#/support" target="">Support</a>
			</li>
			<li class="">
				<a href="{{ site.baseurl }}/attachments/Special_Conditions_Betatest_OVH-COM.pdf" target="_blank">Terms of Service</a>
			</li>
		</ul>

		<ul class="Fleft" style="width: 33%">
			<li class="grey center" style="display:block;line-height:60px;">© 2017 - runabove. all rights reserved.</li>
		</ul>

		<ul class="Fright" style="width: 33%">
			<li class="SocialIcn">
				<a href="https://twitter.com/runabove" target="_blank">
					<img src="{{ site.baseurl }}/images/icon-twitter-footer.png">
				</a>
			</li>
			<li class="SocialIcn">
				<a href="https://github.com/runabove" target="_blank">
					<img src="{{ site.baseurl }}/images/icon-gitHub-footer.png">
				</a>
			</li>
		</ul>
	</div>

        <script type="text/javascript">
        <!-- Piwik -->
            var _paq = _paq || [];
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(["setCookieDomain", "*.runabove.com"]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);

            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://webanalytics2.ovh.net/";
                _paq.push(["setTrackerUrl", u+"piwik.php"]);
                _paq.push(["setSiteId", "30"]);
                var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
                g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <script language="javascript" type="text/javascript" src="https://webanalytics2.ovh.net/piwik.js"></script>
        <!-- End Piwik Code -->

        </script>
        <noscript><p><img src="https://webanalytics2.ovh.net/piwik.php?idsite=30&amp;rec=1" style="border:0" alt=""></p></noscript>
</div>
