<footer>
    <div class="full">
        <br>
        <div class="wrapper">
            <div class="section1">
                <div class="section3">
                    <h3 class="fs24 fw300 white">
                        <a class="fs24 fw300 white" href="https://runabove.com/">
                            Cloud computing solutions
                        </a>
                    </h3>
                    <ul>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="https://runabove.com/#compute">
                                Compute instance
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="https://runabove.com/#storage">
                                Object storage
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="http://status.runabove.com/">
                                Service status
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="https://runabove.com/about/about-us.xml">
                                About us
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="section3">
                    <h3 class="fs24 fw300 white">
                        <a class="fs24 fw300 white" href="/">
                            Community
                        </a>
                    </h3>
                    <ul>
                        <li class="white fs18 fw300">
                            <a  class="fs16 fw300 white"
                                href="/kb/">
                                Knowledge base
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a  class="fs16 fw300 white"
                                href="/share/topic/add/idea">
                                Ideas
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a  class="fs16 fw300 white"
                                    href="/share/topic/add/question">
                            Questions
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="section3">
                    <h3 class="fs24 fw300 white">
                        <a class="fs24 fw300 white" href="">
                            How it's different
                        </a>
                    </h3>
                    <ul>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="https://runabove.com/specs/public-cloud-development.xml">
                                A cloud build for development and production
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="https://runabove.com/specs/cloud-network.xml">
                                Our cloud network infrastructure
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="https://runabove.com/specs/ssd-server-hardware.xml">
                                SSD servers based on powerful hardware
                            </a>
                        </li>
                        <li class="white fs18 fw300">
                            <a class="fs16 fw300 white" href="https://runabove.com/specs/cloud-pricing-billing.xml">
                                Cloud pricing and billing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
       </div>
    </div>
    <br>
    <div class="full">
        <br>
        <div class="wrapper">
            <div class="w50 fl grey">
            © 2015 - RunAbove. All Rights Reserved.
            </div>
            <div class="w50 fr">
                <a href="https://twitter.com/RunAbove" title="Twitter RunAbove" class="ico-twitter"></a>
                <a href="https://github.com/runabove" title="Github RunAbove" class="ico-github"></a>
            </div>
        </div>
        <br><br>
        <script type="text/javascript">
        <!-- Piwik -->
            var _paq = _paq || [];
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(["setCookieDomain", "*.runabove.com"]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);

            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://webanalytics2.ovh.net/";
                _paq.push(["setTrackerUrl", u+"piwik.php"]);
                _paq.push(["setSiteId", "30"]);
                var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
                g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <script language="javascript" type="text/javascript" src="https://webanalytics2.ovh.net/piwik.js"></script>
        <!-- End Piwik Code -->

        </script>
        <noscript><p><img src="https://webanalytics2.ovh.net/piwik.php?idsite=30&amp;rec=1" style="border:0" alt=""></p></noscript>
    </div>
</footer>
<!-- <li class="grey"><a href="{{ site.baseurl }}/{{ page.lang }}/{{ site.t.nav[page.lang].contributing | downcase }}.html">{{ site.t.nav[page.lang].contributing }}</a> | </li>
            <li class="grey"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">{{ site.t.nav[page.lang].subscribe }} RSS</a> | </li>-->
