<div class="full FirstFooter">
	<div class="wrapper">
		<ul>
			<li class="BlackBold ">
				<a href="https://runabove.com/we-are-different/hardware-network.xml">
					The RunAbove Difference
				</a>
			</li>
			<span class="sep"> | </span>
			<li class="">
				<a href="https://runabove.com/we-are-different/features-api.xml">
					Features &amp; Developer API
				</a>
			</li>
			<span class="sep"> | </span>
			<li class="">
				<a href="https://runabove.com/we-are-different/hardware-network.xml">
					Hardware &amp; Network
				</a>
			</li>
			<span class="sep"> | </span>
			<li class="">
				<a href="https://runabove.com/we-are-different/pricing-billing.xml">
					Pricing &amp; Billing
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="full SecondFooter">
	<div class="wrapper">
		<ul>
			<li class="">
				<a href="https://runabove.com/about/about-us.xml" target="">About</a>
			</li>
			<li class="">
				<a href="http://community.runabove.com" target="">Community</a>
			</li>
			<li class="">
				<a href="https://cloud.runabove.com/#/support" target="">Support</a>
			</li>
			<li class="">
				<a href="https://runabove.com/labs" target="">
					<img src="https://runabove.com/images/icon-lab-footer.png">
				</a>
			</li>
			<li class="SocialIcn">
				<a href="https://twitter.com/runabove" target="_blank">
					<img src="https://runabove.com/images/icon-twitter-footer.png">
				</a>
			</li>
			<li class="SocialIcn">
				<a href="https://github.com/runabove" target="_blank">
					<img src="https://runabove.com/images/icon-gitHub-footer.png">
				</a>
			</li>
		</ul>
		<span class="full grey center" style="display:block;">© 2015 - runabove. all rights reserved.</span>
	</div>

        <script type="text/javascript">
        <!-- Piwik -->
            var _paq = _paq || [];
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(["setCookieDomain", "*.runabove.com"]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);

            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://webanalytics2.ovh.net/";
                _paq.push(["setTrackerUrl", u+"piwik.php"]);
                _paq.push(["setSiteId", "30"]);
                var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
                g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <script language="javascript" type="text/javascript" src="https://webanalytics2.ovh.net/piwik.js"></script>
        <!-- End Piwik Code -->

        </script>
        <noscript><p><img src="https://webanalytics2.ovh.net/piwik.php?idsite=30&amp;rec=1" style="border:0" alt=""></p></noscript>
</div>
