<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ "/styles/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/styles/fonts-lato.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/styles/responsive-nav.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/styles/responsive.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/styles/community.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/styles/styles-nav.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/styles/highlight.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/styles/knowledge-base.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
