---
layout: default
---

<div class="home">

  <p class="arian">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a  itemprop="url"
          href="https://community.runabove.com">
        <span itemprop="title">Community</span>
      </a>
    </span> &gt;
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a  href="{{ site.baseurl }}"
          href="https://community.runabove.com">
        <span itemprop="title">Knowledge base</span>
      </a>
    </span>&gt;
  </p>

  <h2>{{ page.title }}</h2>

  <div class="tutorials" id="tutorials">
    <div>
			{% for post in site.categories[page.category] %}
        <div class="tutorial">
          <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          <p class="author">
            {% if post.author %}
              by <a href="https://github.com/{{ post.author }}">
                {{ post.author }}
              </a>
            {% endif %}
            <span class="date">
              {{ post.date | date: "%b %-d, %Y" }}
            </span>
          </p>
          <p class="content">
            {{ post.excerpt | strip_html }}
          </p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="link">
            read the tutorial
          </a>
          <br>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
