---
layout: default
---

<div class="home">

  <p class="arian">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a  itemprop="url"
          href="https://community.runabove.com">
        <span itemprop="title">Community</span>
      </a>
    </span> &gt;
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a  href="{{ site.baseurl }}"
          itemprop="url">
        <span itemprop="title">Knowledge base</span>
      </a>
    </span>&gt;
  </p>

  <h1>{{ site.t.home[page.lang].latest_articles }}</h1>

  <div class="tutorials" id="tutorials">
    <div>
      {% for post in paginator.posts %}
        <div class="tutorial">
          <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          <p class="author">
            {% if post.author %}
              by <a href="https://github.com/{{ post.author }}">
                {{ post.author }}
              </a>
            {% endif %}
            <span class="date">
              {{ post.date | date: "%b %-d, %Y" }}
            </span>
          </p>
          <p class="content">
            {{ post.content | markdownify | strip_html | truncatewords: 50 }}
          </p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="link">
            read the tutorial
          </a>
          <br>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
	{% if paginator.previous_page %}
    	  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
	  <span>&laquo; Prev</span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
	  {% if page == paginator.page %}
	    <em>{{ page }}</em>
	  {% elsif page == 1 %}
	    <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	  {% else %}
	    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	  {% endif %}
	{% endfor %}

	{% if paginator.next_page %}
    	  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  	{% else %}
    	  <span>Next &raquo;</span>
	{% endif %}
    </div>
  {% endif %}  

</div>
