---
layout: root
---
  <p class="arian">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a  itemprop="url"
          href="https://community.runabove.com">
        <span itemprop="title">Community</span>
      </a>
    </span> &gt;
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a  href="{{ site.baseurl }}"
          itemprop="url">
        <span itemprop="title">Knowledge base</span>
      </a>
    </span>&gt;
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a  href="{{ site.baseurl }}/en/{{ page.categories[1] }}"
          itemprop="url">
        <span itemprop="title">{{ page.categories[1] }}</span>
      </a>
    </span> &gt;
  </p>

    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}
    {% if page.meta %} • {{ page.meta }}{% endif %}
    {% if page.author %} •
      <img class="github_icon" src="{{ site.baseurl }}/images/author-github.png" alt="Github account" />
      <a href="https://github.com/{{ page.author }}">{{ page.author }}</a>
    {% endif %}</p>
    <p class="meta">
      {% if page.trans %}
        {% for trans in page.trans %}
          {% assign p = trans[1] | prepend: '/_posts/' | prepend: trans[0] %}
          {% for post in site.posts %}
      	    {% if post.path == p %}
            {% assign lang = trans[0] %}
              <a href="{{post.url}}">{{ site.t.nav[lang].read_in }}</a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    </p>

    <div class="post-content">
    {{ content }}
    </div>

