@charset "UTF-8";

/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


@media screen and (max-width: 770px) {
    .nav-collapse { width : 100%; }

    .nav-collapse ul.topmenu li {
        width : 100%;
        text-align: center;
        background: #000;
        border-bottom : 1px solid #FFFFFF;
    }

    #header .wrapper ul.topmenu li span {
        display : block;
        width: 100%;
    }

    #header .wrapper ul.topmenu li a {
        display : block;
        height : 100%;
        padding : 0.7em  1em;
        width: 100%;
    }

    #header .wrapper ul.topmenu li a:hover { background-color : #333; color:#fff;}

    .nav-collapse ul.topmenu li a {
        text-align : center;
        color : #FFFFFF;
        font-weight : 600;
    }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #FF980A; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 65px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 70px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 40px;
  content:"x";
}

@media screen and (max-width: 390px) {
    .nav-toggle:before {
        font-size: 40px;
    }
    .nav-toggle.active::before {
        font-size: 30px;
    }
}

